<%layout("/layouts/boilerplate")-%>
<br>
<%-include("./includes/singleListing.ejs")%>
<br>
<h2>Leave A Review!</h2>
<br>
<%-include("./includes/createReviewForm.ejs")%>
Latest Reviews:
<%-include("./includes/Reviews.ejs")%>


